.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-auto {
  margin-left: auto;
}

.detailsButton {
  border: none;
  background-color: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px 9px;
}

.detailsButton:hover {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}
